body{
  overflow: hidden;
}

.map_row{
  padding:0;
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  position:absolute;
}

.map_element{
  padding:0;
  margin:0;
  overflow: hidden;
}

.character_element{
  position: absolute;
  padding:0;
  margin:0;
  overflow: hidden;
}

.entity_element{
  position: absolute;
  padding:0;
  margin:0;
  overflow: hidden;
}

#MapContent{
  z-index: 0;
}

#EntityContent{
  z-index: 1;
}

#CharacterContent{
  z-index: 2;
}

#MenuContent{
  z-index: 3;
}
